{
margin: 0;
padding: 0;
box-sizing:border-box;
font-family: montserrat;
}
body
{
 background: url(mercedes-w14-1.jpg);
 background-size: cover;
 background-attachment: fixed;
 background-position: center;
 overflow-y: hidden;

}

section{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
transform-style: preserve-3d;

}
a {
  color: inherit;
  
}
.car
{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 500px;
height: 500px;
background: url(cars.png);
background-size: cover;
background-repeat: repeat-x;
border-radius: 50%;
animation: animateCar 120000s linear infinite;
}
@keyframes animateCar{
	0%
	{
		background-position: 0	0;
	}
	100%
	{
		background-position: -9999990px 0;
	
	}
	
}
.circle
{
	transform-style:preserve-3d;
	animation: animateText 10s linear infinite;
}
.circle span
{
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	color: #35146f;
	font-size: 3em;
	transform-origin: center;
	transform-style: preserve-3d;
	padding: 5px 11px;
	transform: rotateY(calc(var(--i) * calc(360deg/35)))
	translateZ(300px);
	border-top: 4px solid #35146f;
	border-bottom: 4px solid #35146f;
}
.circle span::before{
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	transform: translateZ(-5px);
	
}
nav {
  background-color: #f000;
  overflow: hidden;
  display: flex;
  justify-content: center;
   
  
}

nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: comfortaa;
  
}

nav a:hover {
  background-color: #ddd;
  color: black;
  font-size: 19px;
  
}


@keyframes animateText{
	0%
	{
		transform: perspective(1000px) rotateY(360deg) rotateX(15deg) translateY(-30px);
	}
	100%
	{
		transform: perspective(1000px) rotateY(0deg) rotateX(15deg) translateY(-30px);
	}
}