{
  padding: 0;
  margin: 0;
}
body{
	background: linear-gradient(direction, color, color, color, color);
    width: 100%;
    height: 100vh;
    background: linear-gradient(
    to right,
    pink 0%,
    pink 50%,
    paleturquoise 50%,
    paleturquoise 100%
}
